.signUpFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  padding: 0.5rem;
  gap: 1rem;
}

.inputFieldContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.firstName,
.lastName {
  width: 48%;
  position: relative;
}

.firstName input,
.lastName input {
  width: 100%;
  padding: 0.75rem 0.625rem;
  font-size: 1rem;
  border: 0.125rem solid #fdd133;
  background: transparent;
  border-radius: 0.3125rem;
  outline: none;
  color: aliceblue;
}

.firstName label,
.lastName label {
  position: absolute;
  left: 0.9375rem;
  top: 0.75rem;
  color: #d7d1d1;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease all;
}

.firstName input:focus + label,
.firstName input:valid + label,
.lastName input:focus + label,
.lastName input:valid + label {
  top: -0.625rem;
  left: 0.5rem;
  font-size: 1rem;
  color: #d7d1d1;
  background: #10161b;
  padding: 0 0.25rem;
}

.loginRedirectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
}

.AlreadyAccount {
  font-size: 1rem;
  color: #d7d1d1;
}

.loginLinkContainer {
  cursor: pointer;
  font-size: 1rem;
  color: #fdd133;
  margin: 0.2rem;
}

@media (max-width: 600px) {
  .firstName,
  .lastName {
    position: relative;
    width: 48%;
  }

  .firstName label,
  .lastName label {
    position: absolute;
    left: 0.9375rem;
    top: 0.75rem;
    color: #d7d1d1;
    font-size: 0.875rem;
    pointer-events: none;
    transition: 0.3s ease all;
  }

  .firstName input:focus + label,
  .firstName input:valid + label,
  .lastName input:focus + label,
  .lastName input:valid + label {
    top: -0.625rem;
    left: 0.5rem;
    font-size: 0.75rem;
    color: #d7d1d1;
    background: #10161b;
    padding: 0 0.25rem;
  }

  .loginRedirectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
  }
  .AlreadyAccount {
    font-size: 0.8rem;
    color: #d7d1d1;
  }

  .loginLinkContainer {
    cursor: pointer;
    font-size: 0.8rem;
    color: #fdd133;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .signUpFormTitle {
    font-size: 1.8rem;
  }

  .firstName,
  .lastName {
    position: relative;
    width: 48%;
  }

  .firstName label,
  .lastName label {
    position: absolute;
    left: 0.9375rem;
    top: 0.75rem;
    color: #d7d1d1;
    font-size: 0.875rem;
    pointer-events: none;
    transition: 0.3s ease all;
  }

  .firstName input:focus + label,
  .firstName input:valid + label,
  .lastName input:focus + label,
  .lastName input:valid + label {
    top: -0.625rem;
    left: 0.5rem;
    font-size: 0.75rem;
    color: #d7d1d1;
    background: #10161b;
    padding: 0 0.25rem;
  }

  .loginRedirectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
  }
  .AlreadyAccount {
    font-size: 1rem;
    color: #d7d1d1;
  }

  .loginLinkContainer {
    cursor: pointer;
    font-size: 1rem;
    color: #fdd133;
  }
}
