.inputField {
  position: relative;
  width: 100%;
  margin: 0 1rem;
}

.inputField input {
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 0.625rem;
  font-size: 1rem;
  border: 0.125rem solid #fdd133;
  background: transparent;
  border-radius: 0.3125rem;
  outline: none;
  color: rgb(182, 183, 184);
}

.inputField .toggle-eye,
.user-icon {
  position: absolute;
  right: 0.75rem;
  top: 1.4rem;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #d7d1d1;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

.user-icon {
  cursor: default;
}

.inputField .toggle-eye:hover {
  color: #fdd133;
}

.inputField label {
  position: absolute;
  left: 0.9375rem;
  top: 0.75rem;
  color: #d7d1d1;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease all;
}

.inputField input:focus + label,
.inputField input:valid + label {
  top: -0.625rem;
  left: 0.5rem;
  font-size: 1rem;
  color: #d7d1d1;
  background: #10161b;
  padding: 0 0.25rem;
}

input {
  caret-color: rgb(229, 218, 59);
}

@media (max-width: 600px) {
  .inputField {
    position: relative;
    width: 100%;
    margin: 0 0.5rem;
  }

  .inputField input {
    width: 100%;
    font-size: 0.75rem;
  }

  .inputField label {
    font-size: 0.75rem;
  }

  .inputField input:focus + label,
  .inputField input:valid + label {
    font-size: 0.75rem;
    color: #d7d1d1;
    background: #10161b;
    padding: 0 0.25rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .inputField {
    position: relative;
    width: 100%;
    margin: 0 0.5rem;
  }

  .inputField input {
    width: 100%;
    font-size: 0.75rem;
  }

  .inputField label {
    font-size: 0.875rem;
  }

  .inputField input:focus + label,
  .inputField input:valid + label {
    font-size: 0.75rem;
    color: #d7d1d1;
    background: #10161b;
    padding: 0 0.25rem;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #10161b inset !important;
  -webkit-text-fill-color: #d7d1d1 !important;
  transition: background-color 5000s ease-in-out 0s;
}
