.lampOuterContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lampInnerContainer {
  width: 50%;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glowState img,
.unlitState img {
  width: 18.75rem;
}

.glowState img {
  display: none;
}

.btnBase {
  width: 8.125rem;
  height: 3.75rem;
  border-radius: 0.5rem;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnSurface {
  width: 7rem;
  height: 2.8125rem;
  border-radius: 0.5rem;
  background-color: #161616;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

.btnBulbContainer {
  width: 2.9375rem;
  height: 2.1875rem;
  border-radius: 0.25rem;
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnBulb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnBulb img {
  width: 1.25rem;
}

#glowState {
  display: none;
}

/* Tablet view */
@media (min-width: 601px) and (max-width: 1024px) {
  .glowState img,
  .unlitState img {
    width: 11.875rem;
  }

  .btnBase {
    width: 3.4375rem;
    height: 2.1875rem;
    border-radius: 0.25rem;
  }

  .btnSurface {
    width: 3.125rem;
    height: 1.875rem;
    border-radius: 0.1875rem;
    padding: 0.125rem;
  }

  .btnBulbContainer {
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 0.125rem;
  }

  .btnBulb img {
    width: 0.75rem;
  }
}

/* Mobile view */
@media (max-width: 600px) {
  .glowState img,
  .unlitState img {
    width: 5rem;
  }

  .btnBase {
    width: 2.5rem;
    height: 1.5625rem;
    border-radius: 0.25rem;
  }

  .btnSurface {
    width: 2.1875rem;
    height: 1.25rem;
    border-radius: 0.1875rem;
    padding: 0.125rem;
  }

  .btnBulbContainer {
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 0.25rem;
  }

  .btnBulb img {
    width: 0.5rem;
  }
}
