.formOuterContainer {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  visibility: hidden;
}

.formInnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1.25rem #fdd133;
  border-radius: 1.5rem;
  padding: 1rem;
  flex-direction: column;
  max-width: 25rem;
}

input[type="checkbox"] {
  accent-color: #babc47d6;
}

.rememberMeContainer {
  color: #d7d1d1;
  font-size: 0.9rem;
}

.forgotPasswordLink {
  color: #fdd133;
  font-size: 0.9rem;
  cursor: pointer;
}

.forgotPasswordLink:hover {
  color: #e6b400;
}

.rememberMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.rememberForgotContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.signUpOption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.signUpText {
  font-size: 1rem;
  color: #d7d1d1;
}

.singUplink {
  cursor: pointer;
  font-size: 1rem;
  color: #fdd133;
}

/* Mobile breakpoint  */
@media (max-width: 600px) {
  .formOuterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
  }

  .formInnerContainer {
    padding: 0.5rem 1.5rem;
  }

  input[type="checkbox"] {
    transform: scale(0.9);
    accent-color: #babc47d6;
  }

  .rememberMeContainer {
    font-size: 0.6rem;
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }

  .rememberForgotContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .forgotPasswordLink {
    font-size: 0.7rem;
    line-height: 1.3;
    cursor: pointer;
  }

  .signUpOption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
    margin-top: 1rem;
    gap: 0.2rem;
  }

  .signUpText {
    font-size: 0.8rem;
    color: #d7d1d1;
  }

  .singUplink {
    cursor: pointer;
    font-size: 0.7rem;
  }
}

/* Tablet breakpoint */
@media (min-width: 601px) and (max-width: 1024px) {
  .formOuterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
  }

  .formInnerContainer {
    padding: 0.5rem 1.5rem;
  }

  .formTitle {
    font-size: 1.9rem;
    font-weight: 500;
    margin: 0 0.5rem;
  }

  input[type="checkbox"] {
    transform: scale(1.2);
    accent-color: #babc47d6;
  }

  .rememberMeContainer {
    color: #d7d1d1;
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }

  .rememberForgotContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .forgotPasswordLink {
    font-size: 0.9rem;
    line-height: 1.3;
    cursor: pointer;
  }

  .signUpOption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
    margin-top: 1rem;
    gap: 0.2rem;
  }

  .signUpText {
    font-size: 1rem;
    color: #d7d1d1;
  }

  .singUplink {
    cursor: pointer;
    font-size: 1rem;
    color: #fdd133;
  }
}

#loginPage {
  display: none;
}
