.welcome-page,
.verify-email-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.welcome-Page {
  display: none;
}

.response-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.success-message,
.response-message {
  color: rgb(185, 182, 182);
  font-size: 2rem;
  text-align: center;
}

.success-icon i {
  font-size: 2rem;
}

.response-submessage {
  color: rgba(185, 182, 182, 0.739);
  font-size: 1.5rem;
  text-align: center;
}

.auth-option {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .form-button {
    font-size: 0.9rem;
  }

  .auth-option {
    display: flex;
    flex-direction: column;
  }

  .success-message,
  .response-message {
    font-size: 1rem;
  }

  .response-submessage {
    font-size: 0.7rem;
  }

  .success-icon i {
    font-size: 1.2rem;
  }
}

#resendEmail,
#goTOLogin {
  display: none;
}
